/* Footer.css */

.footer {
    background-color: black;
    color: white;
    padding: 20px;
    text-align: center;
    width: 100%;
    z-index: 100; 
    /* position: ; */
    /* bottom: 0; */
    /* position: fixed; */
    /* bottom: 0; */
    margin-top: 3rem;
  }
  
  /* You can add more styling as needed */
  